<h1>Querido Diario</h1>
<% if current_user %>
  <h1>Bem vindo <%= current_user.email  %></h1>
  <%= link_to "Sair", destroy_user_session_path, 'data-turbo-method': :delete  %>
<% else %>
  <h1>Você está deslogada</h1>
  <%= link_to "Cadastrar", new_user_registration_path%>
  <%= link_to "Logar", new_user_session_path%>
<% end %>